div {
    color: red;
    font-size: 40px;
    text-decoration: underline;
    font-style: italic;
}

div {
    background: blue;
}

#test {
    background: yellow;
    font-size: 100px;
}

.para {
    background: black;
    color: white;
}

.language {
    font-size: 40px;
}

input[type="password"] {
    border: 10px solid red;
}

input[href="https://google.com.vn"] {

}


input[type="checkbox"]:checked {
    width: 50px;
    height: 50px;
}

.square {
    width: 50px;
    height: 50px;
    background: blue;
}

.square:hover{
    background: red;
}

ul li:nth-child(2){
    background: rebeccapurple;
}
